.card{
	margin: 50px;
	.section_title{
		font-weight: bold;
		margin-bottom: 25px;
		&::after{
			width: 0;
		}
	}
	.article_block, .card-status, .block_stars{
		margin-bottom: 10px;
	}
	.article_block{
		font-size: 16px;
	}
	.card-status{
		font-size: 16px;
		.in-stock{
			color: green;
		}
		.not-stock{
			color:red;
		}
	}
	.block_stars{
		line-height: 24px;
		.stars_list{
			margin-right: 15px;
			direction: rtl;
			display: inline-block;
			font-size: 0;
			span{
				display: inline-block;
				font-size: 24px;
				color: @base_color;
				position: relative;
				cursor: pointer;
			}
			&>span:hover::before, &>span:hover ~ span::before 
			{
				content: "\2605";
				position: absolute;
				color: @base_color;
			}
		}
		.card_coment{
			vertical-align: top;
			display: inline-block;
			&::before{
				content: "\f0e5";
				font-family: 'FontAwesome';
				margin-right: 5px;
			}
		}
	}
	.card_button{
		text-align: center;
		margin-top: 25px;
	}
	.card_products_price{
		font-size: 45px;
		color: @title_color;
		.currency{
			font-size: 35px;
		}
	}
	.card-image{
		display: flex;
		justify-content: space-between;
	}

	.card-slider{
		max-height: 475px;
		width: 18%;
		overflow: auto;
		direction: rtl;
		&::-webkit-scrollbar{
			width: 5px;
			height: 8px;
			background-color: #eee;
			left:-20%;
		}
		&::-webkit-scrollbar-thumb{
			background: @base_color;
			height: 15px;
		}
		.card-slider-img{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 95%;
			height: 28.5%;
			margin-bottom: 20px;
			padding: 0 7px;
			border: 1px solid #fff;
			&.active{
				border: 1px solid @base_color;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.card-image-place{
		width: 78%;
		display: flex;
		justify-content: center;
		align-items: center;
		a:visited, a:link{
			outline: none;
			border: none;
		}
	}
}
.card_tab{
	margin-bottom: 50px;
	.card_tab_list{
		background: #e0e3e4;
		display: block;
		width: 100%;
		font-size: 0;
		li{
			display: inline-block;
			&.active  a{
				background-color: @base_color;
				color: #fff;
				pointer-events: none;
				&:hover{
					background-color: @base_color;
					color: #fff;
				}
				&::after{
					opacity: 1;
				}
			}
			a{
				padding: 0 34px;
				line-height: 50px;
				display: inline-block;
				color: @title_color;
				text-align: center;
				font-size: 18px;
				border-right: 1px solid #fff;
				position: relative;
				transition: all 0.3s;
				&:hover{
					background-color: rgba(255,255,255, .5);
					color: @base_color;
				}
				&::after{
					position: absolute;
					content: '\f0d7';
					font-family: 'FontAwesome';
					left: 50%;
					bottom:-6px;
					margin-left: -2.5px;
					color: @base_color;
					line-height: 6px;
					opacity: 0;
					transition: opacity 0.3s;
				}
			}
		}
	}
	.tab-content{
		padding: 20px 15px;
		border: 1px solid #eee;
		color: @color_catalog_text;
	}
	.description_title, strong{
		color: @title_color;
	}
	.description_title{
		margin-top: 20px;
	}
	.features_table{
		table{
			width: 100%;
			border-collapse:collapse;
			tr{
				border-top: 1px solid  #eee;
				border-bottom: 1px solid  #eee;
			}
			td{
				padding: 10px 0;
				width: 50%;
				&.feature_name{
					font-weight: bold;
					color: @title_color;
				}
			}
		}
	}
}

.special-offer{
	margin-bottom: 50px;
	.products_tab_item{
		width: 99%;
		margin-right: 35px;
		height: 345px;
		&::before{
			height: 0;
		}
		&:hover .product-wrap{
			bottom: 3px;
		}
	}
	.product-wrap{
		padding-bottom: 0;
	}
	.products_tab_name{
		max-height: 50px;
		min-height: 50px;
		overflow: hidden;
	}
	.products_tab_options{
		flex-direction: column;
		align-items: center;
	}
	.products_tab_price{
		margin-bottom: 15px;
	}
}

#product_fancybox{

	display: none;
	// visibility: hidden;
	position: relative;
	.btn_prev, .btn_next{
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -30px;
		z-index: 100;
		.fa{
			font-size: 60px;
		}
		transition: color 0.3s;
		&:hover{
			color: @base_color;
		}	
	}
	.btn_prev{
		left: 8%;
	}
	.btn_next{
		right: 8%;
	}
	.owl-carousel{
		.owl-dot{
			width: 115px;
			padding: 10px;
			border: 1px solid #fff;
			&.active{
				border: 1px solid @base_color;
			}
		}
		img{
			width: 80%;
			margin: 0 auto;
		}
		.owl-dots{
			margin-top: 30px;
		}
	}
	.model_title{
		position: relative;
		.section_title{
			max-width: 75%;
			display: inline-block;
			&::after{
				width: 0;
			}
		}
		.base_button{
			float: right;
		}
	}
}
.fancybox-skin{
	background-color: #fff;
	padding: 30px !important;
}

.coment{
	border-bottom: 1px solid  #eee;
	margin-bottom: 24px;
	padding-bottom: 17px;
	.coment_info{
		position: relative;
	}
	.user{
		font-size: 18px;
		color: @title_color;
		font-weight: 500;
	}
	.coment_date{
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 13px;
	}
	.coment_description{
		margin: 15px 0;
	}
	.coment_plus, .coment_minus{
		padding-left: 25px;
		position: relative;
		margin-bottom: 7px;
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			font-size: 22px;
			line-height: 1;
			font-weight: bold;
		}
	}
	.coment_plus::before{
		content: "+";
		color: #5bae6e;
	}
	.coment_minus::before{
		content: "-";
		color: red;
	}
}

.coment_add{
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 30px;
	text-align: center;
	textarea, input{
		display: block;
		width: 100%;
		max-width: 100%;
		margin-bottom: 15px;
		padding: 0 15px;
		border-radius: 3px;
		outline-color: @base_color;
		border: 1px solid #ccc;
	}
	textarea{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.coment_text{
		height: 80px;
	}
	.coment_minuses, .coment_pluses, input{
		height: 40px;
	}
	.base_button{
		margin: 0 auto;
	}
}
.coment_warning::after{
	width: 0;
}