.shop{
	margin: 40px 0;
}
// таблиця товарів "католог", 'товари'
.products_categories_tabs, .shop_categories_tabs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
// блок товару
.products_tab_item, .shop_tab_item{
	width: 32%;
	margin: 20px 0;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	.shop_tab_wrap, .product-wrap{
		padding: 0 10px 10px 0;
	}
	.products_tab_img, .shop_tab_img{
		height: 150px;
		line-height: 150px;
		text-align: center;
		img{
			max-height: 100%;
			display: inline-block;
		}
	}
	.products_tab_name, .shop_tab_title{
		margin-top: 20px;
		a{
			color: @title_color;
			&:hover{
				color: @base_color;
			}
		}
	}
	.shop_tab_property{
		margin-bottom: 10px;
	}
	.tab_property_list{
		display: block;
		li{
			display: block;
			border-bottom: 1px solid  #eee;
			a{
				font-size: 15px;
				color: @color_catalog_text;
				line-height: 2em;
				display: block;
				position: relative;
				padding-right: 15px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				&:hover{
					color: @base_color;
					background-color: #eee;
				}
				&::after{
					content: '\f054';
					font-family: 'FontAwesome';
					display: inline-block;
					position: absolute;
					right: 0;
					font-size: 10px;
				}
			}
		}
	}
	@media only screen and (max-width : 992px){
		width: 47%;
	}
	@media only screen and (max-width : 480px){
		width: 100%;
	}
}
// силка всі товари
.show_all{
	display: block;
	color: @base_color;
	&::after{
		content: '\f178';
		font-family: 'FontAwesome';
		vertical-align: middle;
		margin-left: 5px;
	}
}