.compare{
	padding: 40px 0;
	.compare_wrap{
		overflow-x: auto;
		margin-left: 255px;
		overflow-y: visible;
		padding: 0;
		&::-webkit-scrollbar{
			width: 5px;
			height: 8px;
			background-color: #eee;
		}
		&::-webkit-scrollbar-thumb{
			background: @base_color;
			height: 15px;
		}
	}
	.fixed-colum{
		position: absolute;
		width: 255px;
		left: 0;
		top: auto;
		padding-left: 20px;
		margin-left: 15px;
		background: #f8f8f8;
	}
	.table{
		margin: 20px 0 0;
		width: auto;
		tr{
			&:hover{
				background: #f8f8f8;
			}
			&:first-of-type:hover{
				background-color: transparent;
			}
		}
		td:not(.fixed-colum), th:not(.fixed-colum){
			min-width: 221px;
			max-width: 221px;
			border-right: 1px solid  #eee;
			text-align: center;
		}
		.fixed-colum{
			.colum_property{
				height: 100%;
				display: flex;
				align-items: flex-end;
			}
		}
		.compare_product_property, .compare_product{
			border-top: 0;
		}
		.compare_product{
			position: relative;
		}
		.delete_compare_product{
			position: absolute;
			line-height: 1;
			right: 8px;
			font-size: 15px;
			color: @base_color_text;
			transition: all 0.3s;
			&:hover{
				color: @title_color;
			}
		}
	}
	.products_tab_item{
		width: 100%;
		border: 0;
		height: auto;
		&::before{
			height: 0;
		}
		.products_tab_name h4{
			font-size: 14px;
		}
		.products_tab_price{
			font-size: 22px;
		}

	}
	@media only screen and (max-width : 1200px){
		&{
			.table{
				td:not(.fixed-colum), th:not(.fixed-colum){
					min-width: 228px;
					max-width: 228px;
				}
			}
		}
	}
	@media only screen and (max-width : 992px){
		&{
			.table{
				td:not(.fixed-colum), th:not(.fixed-colum){
					min-width: 232px;
					max-width: 232px;
				}
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.compare_wrap{
				margin-left: 0;
			}
			.fixed-colum{
				display: none;
				width: 200px;
			}
			.table{
				td:not(.fixed-colum), th:not(.fixed-colum){
					min-width: 232px;
					max-width: 232px;
				}
			}
		}
	}
}