.contact_block{
	text-align: center;
	.contact_title{
		color: @title_color;
		font-weight: bold;
		margin: 25px;
	}
	.contact-info{
		color: #3f3f3f;
	}
	@media only screen and (max-width : 767px){
		margin-bottom: 30px;
	}
}

.contacts_call{
	padding-bottom: 100px;
	.contact_form{
		width: 100%;
		position: relative;
		input, textarea{
			width: 100%;
			max-width: 100%;
			outline: none;
			display: block;
			padding: 10px;
			margin-bottom: 40px;
		}
		input{
			height: 55px;
			font-size: 16px;
		}
		textarea{
			height: 150px;
		}
	}
	.contacts_call_button{
		display: block;
		text-align: center;
	}
}

.map{
	height: 450px;
	iframe{
		width: 100%;
	}
}