
// О нас
.about_us{
	.section_title{
		margin-bottom: 60px;
	}
	.about_us_info{
		margin-bottom: 32px;
		line-height: 22px;
		strong{
			font-style: italic;
			color: @title_color;
			span{
				color: red;
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.section_title{
				margin-top: 30px;
			}
		}
	}
}

// Опыт работы
.experience{
	color: #fff;
	background-color: @base_color;
	font-family: @Roboto;
	font-size: 24px;
	padding: 40px 0;
	.experience_info{
		p{
			display: inline-block;
		}
		span{
			font-size: 36px;
			font-weight: bold;
		}
	}
	.base_button{
		float: right;
		margin-top: 12%;
	}
	@media only screen and (max-width : 992px){
		&{
			font-size: 16px;
			text-align: center;
			padding: 25px;
			p{
				display: block;
			}
			span{
				display: block;
				font-size: 20px;
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.base_button{
				float: none;
				margin-top: 20px;
			}
		}
	}
}

// Наши услуги
.service{
	.service_item{
		width: 33%;
		margin-top: 40px;
	}
	.service_icon{
		text-align: center;
		span{
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			background-color: @base_color;
		}
	}
	.service_title{
		font-family: @Roboto;
		color: @title_color;
		h4{
			text-align: center;
			margin: 25px 0;
			font-weight: bold;
			a{
				color: @title_color;
				transition: all 0.3s;
				&:hover{
					opacity: 0.7;
				}
			}
		}
	}
	.service_content{
		line-height: 22px;
		ul{
			margin-left: 35px;
		}
		ul, li{
			list-style: square;
		}
	}
	@media only screen and (max-width : 992px){
		&{
			.service_item{
				width: 50%;
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.service_item{
				width: 45%;
			}
			.service_content{
				text-align: center;
				ul{
					display: inline-block;
					margin-left: 15px;
					li{
						text-align: left;
					}
				}
			}
		}
	}
	@media only screen and (max-width : 480px){
		&{
			.service_item{
				width: 100%;
			}
		}
	}
}

// Портфолио
.portfolio{
	background-color: @portfolio_color;
	.portfolio_filter{
		text-align: center;
		margin-bottom: 50px;
		.filter_list{
			display: inline-block;
			&>li{
				display: block;
				float: left;
				margin-right: 40px;
				height: auto;
				&:last-child{
					margin-right: 0;
				}
				&.active
				{
					&> a{
						color: @base_color;
						&::before{
							width: 100%;
							left: 0;
						}
					}
					& .grid{
						display: block;
					}
				}
				& > a{
					color:@title_color;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 600;
					line-height: 40px;
					display: inline-block;
					position: relative;
					transition: all 0.3s;
					&:hover{
						color: @base_color;
						&::before{
							left: 0;
							right: 0;
							width: 100%;
						}
					}
					&::before{
						content: "";
						display: block;
						position: absolute;
						width: 0px;
						height: 1px;
						background-color: @base_color;
						bottom: 0;
						left: 50%;
						transition: all 0.3s;
					}
				}
			}
		}
	}
	.tab_item{
		// border: 1px solid @base_color;
		min-height: 200px;
		max-height: 360px;
		overflow: hidden;
		position: relative;
		.tab_layout{
			background-color: rgba(28,42,50,.8);
			.layout_icon a{
				background-color: @footer_color;
				border-color: @footer_color;
				&:hover{
					background-color: @base_color;
					border-color: @base_color;
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
		&:hover{
			.tab_layout{
				opacity: 1;
				transform: scale(1);
			}
			.tab_layout_T, .tab_layout_B{
				width: 90%;
				transition-delay: 0.3s;
			}
			.tab_layout_L, .tab_layout_R{
				height: 90%;
				transition-delay: 0.6s;
			}
		}
		img{
			width: 100%;
			max-height: 100%;
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.portfolio_filter{
				margin-bottom: 0;
				.filter_list{
					margin: 0 15px;
					display: block;
					&>li{
						float: none;
						width: 100%;
						background-color: #f8f8f8;
						border: 1px solid  #f0f0f0;
						display: block;
						margin-top: 15px;
						box-shadow: 1px 2px 5px 0px rgba(51, 50, 50, 0.75);
						&.active > a{
							background-color:  @base_color;
							color: #fff;
							&::before{
								display: none;
							}
						}
						&>a{
							width: 100%;
							display: block;
							font-size: 14px;
						}
					}
					.layout_icon li:first-child{
						display: none;
					}
				}
			}
			.portfolio_desktop{
				opacity: 0;
				height: 0;
			}
		}
	}
}

.progres{
	.section_title{
		margin-bottom: 80px;
	}
	.short_info{
		text-align: justify;
		text-indent: 15px;
	}
	.progres_name{
		margin-bottom: 20px;
	}
	.progres_bar{
		width: 100%;
		background-color: #eee;
		height: 5px;
		position: relative;
		margin-bottom: 15px;
	}
	.progres_point{
		position: absolute;
		width: 25px;
		text-align: center;
		top: -22px;
		transform: translateX(-12px);
		left: 0%;
		color: red;
		font-size: 16px;
		.procent{
			margin-bottom: 0px;
			font-size: 12px;
			line-height: 1;
			&::after{
				content: "%";
			}
		}
		.fa{
			line-height: 1;
			display: block;
		}
	}
	.progres_line{
		height: 100%;
		width: 0%;
		display: block;
		background-color: red;
	}
	@media only screen and (max-width : 767px){
		&{
			.short_info, .section_title{
				margin-bottom: 50px;
			}
		}
	}
}

// Наша команда
.comand{
	background-color: @comand_color;
	color: #fff;
	.section_title{
		color: #fff;
		margin-bottom: 65px;
		display: inline-block;
	}
	.comand_person_img{
		position: relative;
		.tab_layout{
			background-color: rgba(231,76,60,.8);
		}
		.layout_icon{
			margin-bottom: 0;
		}
		&:hover{
			.tab_layout{
				opacity: 1;
				transform: scale(1);
			}
			.tab_layout_T, .tab_layout_B{
				width: 90%;
				transition-delay: 0.3s;
			}
			.tab_layout_L, .tab_layout_R{
				height: 90%;
				transition-delay: 0.6s;
			}
		}
	}
	.comand_person_info{
		margin-top: 20px;
		text-align: center;
	}
	.comand_person_name{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		margin-bottom: 15px;
	}
	@media only screen and (max-width : 480px){
		&{
			.section_title{
				display: block;
			}
			.layout_icon{
				li{
					margin-right: 5px;
					a{
						height: 25px;
						width: 25px;
						line-height: 23px;
						font-size: 14px;
					}
				}
			}

		}
	}
}

// Отзывы
.say{
	.say_slider{
		margin-top: 80px;
	}
	.say_item{
		border: 2px solid #eee;
		margin-top: 55px;
		padding: 75px 75px 70px;
		position: relative;
	}
	.say_icon{
		width: 110px;
		height: 110px;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		top: -55px;
		left: 50%;
		margin-left: -55px;
	}
	.say_user_info{
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		margin-bottom: 20px;
		color: @base_color;
	}
	.say_coment{
		line-height: 28px;
		position: relative;
		text-align: center;
		&::before{
			content: '\f10d';
			font-family: "FontAwesome";
			display: block;
			position: absolute;
			top: 0px;
			left: -48px;
			color: @base_color;
			font-size: 30px;
		}
	}
}

// Наши клиенты
.clients{
	.section_title{
		margin-bottom: 60px;
	}
}

// Связатса
// .call{
// 	position: relative;
// 	text-align: center;
// 	background: transparent url(../img/baners/call.png) top center no-repeat;
// 	background-size: cover;
// 	.mac{
// 		position: absolute;
// 		top: 50%;
// 		transform: translateY(-50%);
// 		right: 0%;
// 		width: 35%;
// 	}
// 	.svg{
// 		position: relative;
// 		#mac_complife{
// 			position: absolute;
// 			top: -35px;
// 			right: 0;
// 			left: 0;
// 			bottom: 0;
// 			margin: auto;
// 			transform: rotate(-7deg);
// 			width: 45%;

// 		}
// 	}
// 	.mac_complife{
// 		position: absolute;
// 		top: 50%;
// 		right: 10%;
// 		transform: translateY(-50%) rotate(-8%);

// 	}
// 	.section_title{
// 		margin-bottom: 60px;
// 		color: #fff;
// 	}
// 	.call_icon{
// 		vertical-align: top;
// 		width: 12%;
// 		position: relative;
// 		margin: 0 7%;
// 		display: block;
// 		float: left;
// 		&::after{
// 			content: "";
// 			display: inline-block;
// 			position: absolute;
// 			top: 0;
// 			left: 50%;
// 			width: 4px;
// 			margin-left: -2px;
// 			height: 100%;
// 			background-color: #fff;
// 			z-index: 1;
// 		}
// 		img{
// 			display: block;
// 			margin-bottom: 25px;
// 			position: relative;
// 			z-index: 10;
// 			transition: all 0.8s;
// 			&:last-child{
// 				margin-bottom: 0;
// 			}
// 			&.active{
// 				animation: rotate-btn .5s linear;
// 			}
// 		}
// 		@media only screen and (max-width : 660px){
// 			width: 16%;
// 		}
// 	}
// 	.call_form{
// 		vertical-align: top;
// 		display: block;
// 		float: left;
// 		width: 66%;
// 		position: relative;
// 		input{
// 			width: 100%;
// 			display: block;
// 			height: 60px;
// 			border-radius: 26px;
// 			margin-bottom: 31px;
// 			padding: 0 20px;
// 			font-size: 24px;
// 			color: #000;
// 			outline: none;
// 			border: 0;
// 			background-color: rgba(179,179,179,.7);
// 			&:first-of-type{
// 				margin-top: 3px;
// 			}
// 			&:last-of-type{
// 				margin-bottom: 50px;
// 			}
// 			&:focus {
// 				background-color: rgba(179,179,179,1);
// 			}
// 			@media only screen and (max-width : 440px){
// 				height: 13vw;
// 				font-size: 16px;
// 			}
// 		}
// 		.button_color{
// 			width: 100%;
// 			&:hover{
// 				background-color: #fff;
// 				color: @base_color;
// 			}
// 		}
// 		@media only screen and (max-width : 660px){
// 			width: 62%;
// 		}
// 	}
// 	@media only screen and (max-width : 390px){
// 		& .button_color{
// 			height: auto;
// 			line-height: 25px;
// 		}

// 	}
// }


// Связатса
.call{
	position: relative;
	background: transparent url(../img/baners/call.png) top center no-repeat;
	background-size: cover;
	color: #fff;
	.mac{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0%;
		width: 35%;
	}
	.svg{
		position: relative;
		#mac_complife{
			position: absolute;
			top: -35px;
			right: 0;
			left: 0;
			bottom: 0;
			margin: auto;
			transform: rotate(-7deg);
			width: 45%;

		}
	}
	.mac_complife{
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translateY(-50%) rotate(-8%);

	}
	.section_title{
		margin-bottom: 60px;
		color: #fff;
	}
	.call_icon{
		vertical-align: top;
		position: relative;
		display: block;
		float: left;
		&::after{
			content: "";
			display: inline-block;
			position: absolute;
			top: 0;
			left: 50%;
			width: 4px;
			margin-left: -2px;
			height: 100%;
			background-color: #fff;
			z-index: 1;
		}
		img{
			display: block;
			height: 55px;
			margin-bottom: 15px;
			position: relative;
			z-index: 10;
			transition: all 0.8s;
			&:last-child{
				margin-bottom: 0;
			}
			&.active{
				animation: rotate-btn .5s linear;
			}
		}
	}
	.call_form{
		vertical-align: top;
		display: block;
		float: left;
		width: 100%;
		position: relative;
		text-align: center;
		input, textarea{
			width: 100%;
			display: block;
			border-radius: 3px;
			padding: 0 20px;
			font-size: 18px;
			color: #000;
			margin-bottom: 20px;
			outline: none;
			border: 0;
			background-color: rgba(179,179,179,.7);
			&:focus {
				background-color: rgba(179,179,179,1);
			}
		}
		input{
			height: 50px;
			&:first-child{
				margin-top: 3px;
			}
		}
		textarea{
			height: 90px;
			max-width: 100%;
			padding: 15px 20px;
		}
		.button_color{
			&:hover{
				background-color: #fff;
				color: @base_color;
			}
		}
	}
	.title{
		margin: 0 0 25px;
		font-weight: bold;
	}
	.contact{
		font-size: 16px;
		margin-bottom: 25px;
		li{
			display: block;
			line-height: 36px;
			a{
				color: #fff;
			}
			.fa{
				font-size: 20px;
				text-align: center;
				display: inline-block;
				width: 20px;
			}
		}
	}
	.social_icon{
		.social_icon(35px, 5px, @base_color, @base_color, #fff, @base_color);
	}
}

@keyframes rotate-btn {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}