.service_proces{
	.short_info{
		margin-bottom: 30px;
	}
	.service_proces_img{ 
		position: relative;
		text-align: right;
		img{
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			animation-name: fadeInRight;
			animation-duration: 1s;
			&:first-child{
				position: absolute;
				top: 20%;
				right: 50%;
			}
			&:nth-child(2){
				position: absolute;
				top: 10%;
				right: 30%;
				animation-delay: 0.6s;
			}
			&:last-child{
				position: relative;
				right: 10%;
				animation-delay: 1.2s;

			}
		}
	}
	@media only screen and (max-width : 992px){
		&{
			.service_proces_img{
				margin: 5% 0px 30%;
				img{
					width: 50%;
					&:first-child{
						right: 45%;
					}
					&:nth-child(2){
						right: 25%
					}
					&:last-child{
						right: 5%;
					}
				}
			}
		}
	}
}
.panel{
	position: relative;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 8%;
		background: rgba(0,0,0,.1);
		border-right: 1px solid rgba(0,0,0,.2);
	}

	.panel-body{
		padding-left: 10%;
		color: #171717;
	}
	.panel-heading{
		padding: 0 20px 0 10%;
	}
	.panel-title{
		.panel-show{
			display: inline-block;
			float: right;
			position: relative;
			width: 12px;
			height: 12px;
			margin: 15px 0;
			&::before{
				content: '';
				width: 100%;
				height: 2px;
				background-color: #999;
				display: block;
				position: absolute;
				top: 50%;
				margin-top: -1px;
			}
			&::after{
				content: '';
				width: 2px;
				height: 100%;
				background-color: #999;
				display: block;
				position: absolute;
				left: 50%;
				margin-left: -1px;
				top: 0;
			}
		}
		a{
			position: relative;
			display: block;
			line-height: 45px;
			transition: all 0.3s;
			span{
				position: absolute;
				left: -8%;
				font-weight: bold;
			}
			&:hover{
				color: @base_color;
			}
			&[aria-expanded = "true"]{
				color: @base_color;
				& .panel-show::after{
					display: none;
				}
			}
		}
	}
	@media only screen and (max-width : 992px){
		&{
			.panel-title{
				font-size: 13px;
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.panel-title{
				font-size: 12px;
				.panel-show{
					width: 12px;
					height: 12px;
					margin: 14px 0;
				}
				a{
					line-height: 40px;
					span{
						left: -7%;
					}
				}
			}
			.panel-heading{
				padding: 0 10px 0 9%;
			}
			.panel::before{
				width: 7%;
			}
		}
	}

}
.service_rezalt{
	margin-top: 50px;
	padding: 100px 0;
	border-top: 1px solid  #eee;
	.services-block{
		// margin-top: 0;
		margin: 0;
		width: 100%;
	}
	.services-caption{
		padding-left: 15px;
		padding-right: 15px;
	}
	.service_rezalt_button{
		display: block;
		text-align: center;
		margin-top: 30px;
	}
	@media only screen and (max-width : 767px){
		&{
			padding: 50px 0;
			.services-block{
				width: 70%;
				margin: 0 auto;
			}
			.section_title{
				margin-top: 40px;
			}
		}
	}
	@media only screen and (max-width : 480px){
		&{
			.services-block{
				width: 100%;
			}
		}
	}
}
.service_type{
	padding: 70px 0;
	.section_title{
		margin: 50px 0 100px;
	}
	.service_type_wrap{
		padding-top: 5%;
	}
	.service_type_title{
		font-size: ~"calc(18px + 2vw)";
		color: #585858;
		font-family: @Ubuntu-Bold;
		margin-top: 50px;
	}
	.service_type_description{
		font-size: 16px;
	}
	.window-icon{
		width: 70%;
	}
	@media only screen and (max-width : 480px){
		&{
			.service_type_title{
				margin-top: 0;
			}
		}
	}
}
.visit{
	background-color: #f3f3f3;
	.window-icon{
		width: 35%;
		margin-left: 65%;
	}
	@media only screen and (max-width : 480px){
		.window-icon{
			width: 60%;
			margin-left: 40%;
		}
	}
}
.characteristics{
	.characteristics_wrap{
		display: flex;
		justify-content: center;
	}
	.characteristics_item{
		display: inline-block;
	}
	.characteristics_list{
		margin-left: 20px;
		li{
			list-style-type: disc;
			font-size: 18px;
			margin-bottom: 25px;
		}
	}
}