body{
	font-family: @Ubuntu;
	color: @base_color_text;
	position: relative;
	&.fixed{
		overflow-y: hidden;
		padding-right: 16px;
		@media only screen and (max-width : 767px){
			padding-right: 0;
		}
	}
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
}

a:hover, a:active, a:focus{
	color: initial;
	text-decoration: none;
}

img{
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}
.horizontal_align{
	display: flex;
	justify-content: center;
}
.vertical_align{
	display: flex;
	align-content: center;
}

.center_align{
	display: flex;
	align-content: center;
	justify-content: center;
}
.table_show{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

// базові стилі checkbox
.checkbox_style(@width, @height, @font_size:15px){
	label{
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: @width + 10;
		font-weight: normal;
		line-height: @height;
	}
	input[type=checkbox] {
		display: none;
	}
	label:before {
		content: "";
		display: inline-block;
		border-radius: 3px;
		width: @width;
		height: @height;
		position: absolute;
		left: 0;
		border: 1px solid #ccc;
		font-weight: bold;
	}
	input[type=checkbox]:checked + label:before {
		content: "\2713";
		font-size: @font_size;
		text-align: center;
		line-height: @height - 2;
		background-color: @base_color;
		color: #fff;
	}
}


.section_base{
	padding: 100px 0;
	@media only screen and (max-width : 767px){
		padding: 50px 0;
	}
}

// бокові вікна
.mob_menu, .sidebar-cart{
	position: fixed;
	top: 0;
	height: 100%;
	background-color: #fff;
	border: 4px solid @base_color;
	z-index: 100;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.3s;
}

// соціальні мережі
.social_icon(@size:35px){
	display: inline-block;
	li{
		display: inline-block;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
		a{
			border-radius: 50%;
			border: 1px solid  @base_color;
			height: @size;
			width: @size;
			text-align: center;
			line-height: @size - 2px;
			display: inline-block;
			color: @base_color;
			transition: all 0.3s;
			&:hover{
				color: #fff;
				background-color: @base_color;
			}
		}
	}
}

// стилі таблиці
.form_row{
	margin-bottom: 15px;
	textarea, input, label, select{
		display: block;
		width: 100%;
		max-width: 100%;
	}
	textarea, input, select{
		padding: 0 15px;
		border-radius: 3px;
		outline-color: @base_color;
		border: 1px solid #ccc;
		height: 40px;
		color: @title_color;
	}
	label{
		margin-bottom: 5px;
		color: @title_color;
		font-size: 13px;
	}
	textarea{
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

// заголовок секцій
.section_title{
	color: @title_color;
	text-transform: uppercase;
	font-weight: 500;
	font-family: @Roboto;
	margin: 0 0 40px;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		width: 50px;
		height: 2px;
		left: 0;
		bottom: -20px;
		background-color: @base_color;
	}
	span{
		color: @base_color;
		background-color: transparent;
	}
	&.title_center{
		text-align: center;
		&::after{
			left: 50%;
			margin-left: -25px;
		}
	}
	@media only screen and (max-width : 767px){
		font-size: 28px;
	}
}

.short_info{
	text-align: center;
	margin-bottom: 15px;
	line-height: 22px;
	font-family: @Roboto;
	font-weight: 300;
}

// основні кнопки
.base_button(@height:48px, @pading:34px){
	height: @height;
	padding: 0 @pading;
	display: inline-block;
	line-height: @height - 2px; 
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	transition: all 0.3s;
	text-transform: uppercase;
	border: 1px solid;
	outline: none;
	color: #fff;
}

// кнопка з фоном
.button_color{
	.base_button();
	background-color: @base_color;
	border-color: @base_color;
	&:hover{
		background-color: transparent;
		color: @base_color;
		border-color: @base_color;
	}
}

// кнопка без фона
.button_transparent{
	.base_button();
	background-color: transparent;
	border-color: #fff;
	&:hover{
		background-color: #fff;
		color: @base_color;
		border-color: #fff;
	}
}

// кнопка "На верх"
.mobile_menu_button, .button_up{
	.base_button(35px, 0px);
	width: 35px;
	border: 1px solid  #fff;
	border-radius: 0px;
	background-color: @base_color;
	cursor: pointer;
	&::visited{
		color: #fff !important;
	}
	&:hover{
		background: darken(@base_color, 15%); // затемнення кольора
	}
	.fa{
		font-size: 16px;
	}
}
.button_up{
	position: absolute;
	top: -17px;
	right: 2%;
}
.mobile_menu_button{
	float: left;
	margin: 12px 0;
}

// вспливаючі форми
.tab_layout{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 8%;
	top: 0;
	left: 0;
	// background-color: rgba(231,76,60,.8);
	transform: scale(0.7);
	transition: all 0.4s;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.tab_layout_line{
	position: absolute;
	display: inline-block;
	background-color: #fff;
	transition: all 0.3s;
}
.tab_layout_T, .tab_layout_B{
	height: 1px;
	width: 0;
}
.tab_layout_L, .tab_layout_R{
	height: 0;
	width: 1px;
}
.tab_layout_T, .tab_layout_R{
	top: 5%;
}
.tab_layout_B, .tab_layout_L{
	bottom: 5%;
}
.tab_layout_T, .tab_layout_L{
	left: 5%;
}
.tab_layout_B, .tab_layout_R{
	right: 5%;
}

.layout_icon{
	.social_icon(35px);
}

.layout_info{
	color: #fff;
	opacity: 0.8;
	transition: all 0.3s;
	font-size: 20px;
	text-align: center;
	animation-duration: 1s;
	animation-delay: 0.8s;
	strong{
		font-size: 24px;
	}
	&:hover{
		color: #fff;
		opacity: 1;
	}
}

.overlay, .preloader{
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.overlay{
	background-color: rgba(0,0,0, 0.5);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	cursor: url(../img/icon/cursor.png),progress;
	&.active{
		opacity: 1;
		visibility: visible;
	}
}
.preloader{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	display: none;
	// opacity: 1;
	// transition: opacity 3s;
}
.preloader_img{
	opacity: 0;
}
#load, #mac,  #mac_complife, .preloader_img{
	opacity: 0;
}

#mac{
	width: 100%;
}

#mac_complife * {
	fill-opacity: 0;
	transition: fill-opacity 1s;
}

#mac_complife.finished * {
	fill-opacity: 1;
}

.contact{
	font-size: 12px;
	li{
		display: inline-block;
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: @base_color_text;
			transition: all 0.3s;
			&:hover{
				color: @base_color;
			}
		}
	}
	.fa{
		margin-right: 10px;
		color: @base_color;
	}
}

.paginator{
	margin: 40px 0;
	text-align: center;
	ul li{
		display: inline-block;
		border: 2px solid #eee;
		margin: 0 5px;
		&:last-child{
			padding: 0 10px;
		}
		&:hover, &.active{
			background-color: @base_color;
			border-color: @base_color;
			a{
				color: #fff;
			}
		}
		a{
			height: 33px;
			min-width: 33px;
			color:initial;
			font-weight: 700;
			font-size: 12px;
			display: inline-block;
			line-height: 32px;
		}
	}
}