#user_login, #user_registration, #password-recovery{
	display: none;
}
.ui-common-form{
	width: 250px;
	margin-top: 20px;
	.user-form-checkbox{
		// стилі checkbox 
		&:extend(.checkbox_style_base all);
		.checkbox_style(15px, 15px, 10px);
	}
	.form-header-title{
		text-align: center;
		margin: 0 0 20px;
		color: @title_color;
	}
	.help-block{
		color: #a94442;
	}
	.registration-block{
		display: flex;
		justify-content: space-between;
		a{
			color: initial;
			transition: all 0.3s;
			&:hover{
				color: @base_color;
			}
		}
	}
	.form_button{
		text-align: center;
	}
}