header{
	.header_contacts{
		height: 50px;
		background-color: #fff;
		line-height: 49px;
		@media only screen and (max-width : 768px){
			// line-height: 30px;
			.contact{
				float: none;
				ul{
					text-align: center;
					li{
						float: none;
					}
				}
			}
		}
		@media only screen and (max-width : 393px){
			line-height: 25px;
		}
	}
	.social_icon{
		float: right;
	}
	.contact{
		font-size: 12px;
		li{
			display: inline-block;
			// float: left;
			margin-right: 15px;
			&:last-child{
				margin-right: 0;
			}
			a{
				color: @base_color_text;
				transition: all 0.3s;
				&:hover{
					color: @base_color;
				}
			}
		}
		.fa{
			margin-right: 10px;
			color: @base_color;
		}
	}
	.header_menu{
		background-color: @base_color;
		line-height: 69px;
		@media only screen and (max-width : 768px){
			line-height: 55px;
			text-align: center;
		}
	}
	.logo{
		float: left;
		img{
			height: 50px;
		}
		@media only screen and (max-width : 768px){
			float: none;
			img{
				height: 40px;
			}
		}
	}
	.menu{
		display: inline-block;
		float: right;
		&>li{
			display: inline-block;
			position: relative;
			&.active>a{
				color: @title_color;
				&::before{
					width: 100%;
					left: 0;
				}
			}
			&.li_dropdown>a::after{
				content: '\f0d7';
				font-family: 'FontAwesome';
				margin-left: 5px;
				line-height: 1;
			}
			&.li_dropdown:hover .dropdown_menu{
				opacity: 1;
				li{
					height: 50px;
					overflow: visible;
				}
			}
			a{
				margin: 0 15px;
				display: inline-block;
				color: #fff;
				text-transform: uppercase;
				font-family: 'Roboto-Medium';
				transition: all 0.3s;
				position: relative;
				&::before{
					content: "";
					position: absolute;
					left: 50%;
					bottom: 15px;
					display: block;
					width: 0;
					height: 1px;
					background-color: @title_color;
					transition: all 0.3s;
				}
				&:hover{
					color: @title_color;
					&::before{
						left: 0;
						right: 0;
						width: 100%;
					}
				}
			}
		}
	}
	.dropdown_menu{
		background-color: @base_color;
		position: absolute;
		z-index: 10;
		min-width: 250px;
		opacity: 0;
		transition: opacity 0.3s ease 0.1s; 
		li{
			display: block;
			height: 0;
			overflow: hidden;
			padding: 0 15px;
			transition: height 0.3s ease 0.1s;
			&:last-child a{
				border-bottom:0;
			}
			&:hover{
				background-color: rgba(0,0,0, 0.1);
			}
			a{
				line-height: 50px;
				display: block;
				margin: 0;
				border-bottom: 1px solid  #fff;
				&:hover{
					color: #fff;
					&::before{
						width: 0;
					}
				}
			}
		}
	}
}