header{
	.header_contacts{
		background-color: #fff;
		line-height: 49px;
		@media only screen and (max-width : 393px){
			line-height: 25px;
		}
	}
	.language{
		float: right;
		li{
			float: left;
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
				a::after{
					content: '';
					margin-left: 0;
				}
			}
			a{
				color: @title_color;
				&::after{
					content: '|';
					color: @title_color;
					margin-left: 5px;
				}
				&:hover{
					color: @base_color;
				}
			}
		}
	}
	.header_menu{
		background-color: @base_color;
		line-height: 69px;
		box-shadow: 0px -1px 9px 0px rgba(50, 50, 50, 0.64);
	}
	.header_mobile_menu{
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}
	.logo{
		float: left;
		img{
			height: 50px;
		}
	}
	@media only screen and (max-width : 1200px){
		.header_menu .menu>li>a{
			margin: 0 5px;
		}
	}
	@media only screen and (max-width : 991px){
		&{
			.header_menu{
				.menu>li>a{
					font-size: 12px;
				}
				.dropdown_catalog_menu{
					min-width: 600px;
				}
			}
			.logo img{
				height: 40px;
			}
			.header_options>li>a{
				font-size: 20px;
			}
		}
	}
	@media only screen and (max-width : 767px){
		&{
			.contact{
				float: none;
				padding: 5px 0;
				ul{
					text-align: center;
					li{
						float: none;
						margin: 0;
					}
				}
			}
			.mobile-user-actions , .logo, .header_options{
				width: 33%;
			}
			.logo{
				float: none;
				text-align: center;
			}
			.header_options
			{
				text-align: right;
				&>li{
					padding: 0 9px;
					&:first-child{
						padding: 0;
					}
					&>a{
						font-size: 20px;
					}
				}
			}
		}
	}
}

.header_options{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: 1;
	// line-height: 69px;
	&>li{
		display: inline-block;
		position: relative;
		padding: 0 10px;
		// line-height: 1;
		&:last-child{
			padding-right: 0;
		}
		&>a{
			position: relative;
			color: #fff;
			font-size: 25px;
			line-height: 69px;
			transition: all 0.3s;
			.fa{
				vertical-align: middle;
			}
		}
		.header_busket_quantity, .header_scale_quantity{
			position: absolute;
			text-align: center;
			display: inline-block;
			width: 16px;
			height: 16px;
			color: #fff;
			line-height: 16px;
			font-size: 8px;
			background-color: #63150d;
			border: 1px solid  #fff;
			bottom: -8px;
			right: -8px;
			border-radius: 50%;
			font-weight: bold;
		}
		.authorization-box{
			display: none;
			position: absolute;
			width: 150px;
			right: 0;
			background-color: #fff;
			z-index: 2;
			li{
				a{
					display: block !important;
					padding: 0 10px;
					font-size: 14px;
					line-height: 40px;
					color: @title_color;
					display: inline-block;
					transition: all 0.3s;
					&:hover{
						color: @base_color;
						background-color: #eee;
					}
				}
			}
		}
		&.header_login a:hover{
			color: @title_color;
		}
	}
}